body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    background: black;
    overflow-y: auto;
}

#background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
.form-container,.container{
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto;
    box-shadow: 0 0 15px limegreen;
    max-height: 90vh;
    overflow-y: auto;

}
h1{
    color: limegreen;
}
label{
    display: block;
    margin-top: 10px;

}
input,select,textarea{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid limegreen;
    border-radius: 5px;
    background: black;
    color: limegreen;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: limegreen;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.35;

}
button:hover{
    background: darkgreen;
}
.hidden{
    display: none;

}
#mysteryScene,#fakeCrash{
    margin-top: 20px;
    padding: 20px;
    background: rgba(255,0,0,0.7);
    color: white;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;

}
mysteryScene h2, #fakeCrash h2{
    color: yellow;
}

input[type="checkbox"],input[type="radio"]{
    margin-right: 5px;
    transform: scale(1.2);
}
@media screen and (max-width:1000px){
    .form-container,.container{
        width: 80%;
        max-height: none;

    }
    input,select,textarea{
        width: 90%;

    }
}
    .radio-group{
        display: flex;
        align-items: center;
        gap:10px;
        margin-top: 5px;
    }
    input[type="radio"]{
        margin: 0;
        transform: scale(1.2);
        vertical-align: middle;
    }
    #djVideoContainer {
        display: none;
    }